<!-- <div>
    <canvas baseChart [chartType]="chartType" [labels]="chartLabels" [datasets]="chartData">
    </canvas>
</div> -->

<!-- <button (click)="switchWithCases()">cases</button>
<button (click)="switchWithDeaths()">deaths</button>
<button (click)="switchWithHealings()">healings</button> -->

<h1 class="text-center">Global data</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4">
            <app-global-cases-line-graph></app-global-cases-line-graph>
        </div>
        <div class="col-xl-4">
            <app-global-cases-bar-graph></app-global-cases-bar-graph>
        </div>
        <div class="col-xl-4">
            <app-global-cases-doughnut-graph></app-global-cases-doughnut-graph>
        </div>
    </div>
</div>

<h1 class="text-center">Country specific data</h1>
<div>
    <label>Pays</label>
    <div>
        <select [(ngModel)]="pays">
            <option *ngFor="let p of paysList" [value]="p">{{p}}</option>
        </select>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4">
            <app-country-cases-line-graph [pays]="pays"></app-country-cases-line-graph>
        </div>
        <div class="col-xl-4">
            <app-country-cases-bar-graph [pays]="pays"></app-country-cases-bar-graph>
        </div>
        <div class="col-xl-4">
            <app-country-cases-doughnut-graph [pays]="pays"></app-country-cases-doughnut-graph>
        </div>
    </div>
</div>




